*{
    margin:0;
    padding:0;
}
body{
    font-size: 1em;
}
/* ========general ===============*/
.container{
    /*width:80 */
    width:90%;
    margin:auto;

}
.clear-fix{
    clear:both;
}
.col-ful{
    width:98%;
}

h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.3em;
}
p{
    font-size: 1.2em;
}
span{
    font-size: 1em;
}

.flex-container{
    display: flex;
    justify-content: flex-end;
}
/*
.flex-main{
    display: flex;
    justify-content: space-between;
}
*/
/*==========header section========*/
header{
    height:70px;
    width:90%;
    margin:auto;
    overflow: hidden;
    border-bottom:2px solid #000;

}
header .col-8{
    float: left;
    width:60%;
    
}

header .col-4{
    width: 40%;
    float: right;
    
    
    
   

}


header  span{
    color:#4FC5C1;
}

/*=============== information section =============*/

.information-section{
    margin-top:20px;
    margin-bottom: 20px;
    
}

/* --------- work experience style -------*/
.information-section .col-8{
    width:60%;
    float: left;
    margin-right:2%;
    
}
.work-exp{
    background-color: #EFEFEF;
    max-height: 866px;
    overflow: auto;
    
}
.work-exp-title{
    border-bottom: 1px solid #000;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left:5px;
}


/* --------- work experience items style -------*/
.work-exp-item{
    overflow: hidden;
    
    
}
.work-exp-item .item-left-year{    
    float: left;
    /*width:18%; */
    width:8%;
    text-align: center;
    overflow: hidden;
    position: relative;
    top:30px;
}
.work-exp-item .item-left-year p{
    text-align: center;
    width:100%;
    font-size: 1rem;
}

.work-exp-item .item-right-content {
    text-align:justify;
    border-left:1px solid red;
    float:right;
    width: 90%;
    

}
.content-container{
    padding:10px;

}
.work-exp-item .item-right-content .item-title h3{
    color:#4FC5C1;
    display: inline;
    
    

}
.work-exp-item .item-right-content .item-title p{
    font-weight: 400;
}

/*----------- university style---------*/
.information-section .col-4{
    /*width:28%;*/
    width:36%;
    float: right;
    margin-right: 2%;
    

}
.university {
    overflow: auto;
    max-height: 866px;
    


}
.university .university-item{
    width:80%;
    float: right;
    background-color:#EFEFEF;
    padding:10px;
    margin-bottom: 20px;
    
}
.university .university-item .university-item-title{
    border-bottom: 1px solid #000;
    margin-bottom: 10px;

}
.university .university-item .university-item-content{
}
.university-item-content .university-item-content-subtitle{
    color:#4FC5C1;
    margin-top: 10px;
    

}
.university-item-content .university-item-content-desc{
    text-align: justify;
    padding-right: 5px;;

}

footer{
    text-align: center;
    padding-top:20px;
    padding-bottom: 30px;
}

footer span{
    color:green;
}

/*============== chanriry work ============ */




